main {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background-color: #1f2937;
  padding: 0 175px;
}

.hero-block-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-block-two {
  display: flex;
  padding-top: 60px;
  padding-bottom: 70px;
  justify-content: space-between;
  gap: 30px;
}

.text-and-button {
  width: 400px;
  height: 400px;
}

.hero-main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;  
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 10px;
  margin-top: 10px;
  flex-grow: 0;
}

.image {
width: 600px;
height: 400px;
flex-shrink: 0;
}

img {
  width: 100%;
  height: auto;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding-top: 25px;
}

.boxes {
  display: flex;
  padding: 50px 100px;
  justify-content: space-evenly;
}

.box {
  height: 175px;
  width: 175px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.subtext {
  width: 175px;
  text-align: center;
}

.quote-box {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 200px;
}

.quote {
  align-self: center;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 0;
}

.author {
  font-size: 18px;
  text-align: end;
  font-weight: 900;
  padding-top: 10px;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 16px;
}

.call-to-action {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.blue-box {
  background-color: #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.text-1 {
  color: #F9FAF8;
  font-size: 24px;
}

.text-2 {
  color: #e5e7eb;
  font-size: 18px;
}

.blue-box button {
  border-color: #e5e7eb;
  box-shadow: none;
  outline: none;
  margin-left: 30px;
}