body {
  font-family: "Roboto", sans-serif;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

.hero {
  background-color: #1f2937;
  color: white;
}

footer {
  background-color: #1f2937;
  color: white;
}