body {
  font-family: "Roboto", sans-serif;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background-color: #1f2937;
  padding: 0 175px;
}

.hero-block-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-block-two {
  display: flex;
  padding-top: 60px;
  padding-bottom: 70px;
}

.hero-main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;  
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 10px;
  margin-top: 10px;
}

.placeholder {
  background-color: darkgray;
  color: #e5e7eb;
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #1f2937;
  color: white;
}